# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e9ee91ee12ad024dee8ab5ffc919d30183bd2bc1b019f00a8e989de471982623bb916885ec57ec9ece9b873adc123bb517d902a9591f4e46c4fa80f15c67f598

test:
  secret_key_base: 8ceb9713818dab24a6f1f5d93f1a1236cf2e8cf0e81efc45c601017962d6e7827cfd8938ac3fb3800b77f169acd3f2c7d2eb0f4f683152b0a9373f424173afd7

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
